[user]
  email = laurent.granie@gmail.com
  name = lgranie
[status]
  submoduleSummary = true
[diff]
  tool = vimdiff
  submodule = log
[difftool]
  prompt = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
  ff = no
  commit = no
[mergetool]
  prompt = false
  keepBackup = false
[fetch]
  recurseSubmodules = on-demand
[include]
  path = ~/.config/local/gitconfig
[core]
  fileMode = false
  autocrlf = input
	editor = vim
