[user]
  name = Laurent Granié
[status]
  submoduleSummary = true
[diff]
  tool = vimdiff
  submodule = log
[difftool]
  prompt = false
[pull]
  rebase = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
  ff = no
  commit = no
[mergetool]
  prompt = false
  keepBackup = false
[fetch]
  recurseSubmodules = on-demand
[core]
  fileMode = false
  autocrlf = input
  editor = vim
[include]
  path = ~/.config/local/gitconfig
[color]
	ui = auto
