[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/.vim/bundle/vim-lsp-java"]
	path = vim/.vim/bundle/vim-lsp-java
	url = https://github.com/lgranie/vim-lsp-java.git
[submodule "vim/.vim/bundle/asyncomplete.vim"]
	path = vim/.vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/bundle/asyncomplete-lsp.vim"]
	path = vim/.vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/bundle/vim-jdb"]
	path = vim/.vim/bundle/vim-jdb
	url = https://gitlab.com/Dica-Developer/vim-jdb.git
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/bundle/vim-lsp-bash"]
	path = vim/.vim/bundle/vim-lsp-bash
	url = https://github.com/lgranie/vim-lsp-bash.git
[submodule "git/.config/forgit"]
	path = git/.config/forgit
	url = https://github.com/wfxr/forgit.git
[submodule "vim/.vim/bundle/vim-lsp"]
	path = vim/.vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/.vim/bundle/colorizer.vim"]
	path = vim/.vim/bundle/colorizer.vim
	url = https://github.com/chrisbra/Colorizer.git
[submodule "vim/.vim/bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/.vim/bundle/vim-lsp-groovy"]
	path = vim/.vim/bundle/vim-lsp-groovy
	url = https://github.com/lgranie/vim-lsp-groovy.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/treesitter.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/treesitter.nvim
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/tmux.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/tmux.nvim
	url = https://github.com/aserowy/tmux.nvim.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/fugitive.nvim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/fugitive.nvim
	url = https://github.com/tpope/vim-fugitive.git
