[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "solarized/xresources"]
	path = solarized/xresources
	url = https://github.com/solarized/xresources.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "gruvbox/gruvbox-contrib"]
	path = gruvbox/gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib.git
[submodule "vim/.vim/bundle/async.vim"]
	path = vim/.vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "vim/.vim/bundle/vim-lsp"]
	path = vim/.vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim/bundle/vim-lsp-java"]
	path = vim/.vim/bundle/vim-lsp-java
	url = https://github.com/lgranie/vim-lsp-java.git
[submodule "vim/.vim/bundle/asyncomplete.vim"]
	path = vim/.vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/bundle/asyncomplete-lsp.vim"]
	path = vim/.vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
