[user]
  email = laurent.granie@gmail.com
  name = lgranie
[status]
  submoduleSummary = true
[diff]
  submodule = log
[fetch]
  recurseSubmodules = on-demand
[include]
  path = ~/.config/local/gitconfig
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[core]
	fileMode = false
