!Solarized
!#include "./dotfiles/solarized/xresources/Xresources.dark"

!Gruvbox
#include "./dotfiles/gruvbox/gruvbox-contrib/xresources/gruvbox-dark.xresources"

!#include "./dotfiles/Xresources/rxvt-unicode"


