!Solarized
!#include "./dotfiles/solarized/xresources/Xresources.dark"

!xft
#include "./dotfiles/Xresources/xft"

!Gruvbox
#include "./dotfiles/gruvbox/gruvbox-contrib/xresources/gruvbox-dark.xresources"

#include "./dotfiles/Xresources/urxvt-unicode"
#include "./dotfiles/gruvbox/gruvbox-contrib/urxvt256/gruvbox-urxvt256.xresources"

