!base16
#include "./.config/base16/base16-xresources-256.Xresources"

!xft
#include "./dotfiles/Xresources/xft"

!Gruvbox
!#include "./dotfiles/gruvbox/gruvbox-contrib/xresources/gruvbox-dark.xresources"

#include "./dotfiles/Xresources/urxvt-unicode"
!#include "./dotfiles/gruvbox/gruvbox-contrib/urxvt256/gruvbox-urxvt256.xresources"

