prefix=${HOME}/.npm/npm-packages
strict-ssl=false
proxy=http://a223751:Aramis22@httppxgot.srv.volvo.com:8080
https-proxy=http://a223751:Aramis22@httppxgot.srv.volvo.com:8080
https_proxy=http://a223751:Aramis22@httppxgot.srv.volvo.com:8080
registry=http://registry.npmjs.org/

